{% extends 'base.html' %}
{% block content %}
{% load static %}
{% static "" as baseUrl %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/breadcrumbs_new.css' %}">
    <title>Upload Dataset Page</title>
</head>
<body>
    <!-- insert form with show and hide  -->
    <form enctype="multipart/form-data" method="POST" action="#">
        {% csrf_token %}

        <div id="formpage_1" class="container" style="visibility:visible; display: block; margin-left: 0%">
            <div class="row">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb breadcrumb-arrow">

                    <li class="" name="bc_project_owner"><a href="#" style="color: lime">Project Owner</a></li>
                    <li class="" name="bc_upload"><a href="#" style="color: lime">Update project parameters</a></li>
                </ol>
            </div>
            <div class="container">
                <h3 style:"margin-top: 2%;">Update parameters for the project</h3>
                <div class="row" style="margin-top: 2%">

                    <div class="col-md-12">

                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Project name*</label>
                            <div class="col-sm-10" id="project_name">
                                {{edit_form.project_name}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="tuples_count" class="col-sm-2 col-form-label">Tuples per HIT*</label>
                            <div class="col-sm-10">
                                {{edit_form.tuples_count}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                {{edit_form.description}}
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="expiryCount" class="col-sm-2 col-form-label">Project expiry in days*</label>
                            <div class="col-sm-10">
                                {{edit_form.expiry_days_count}}
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-sm-10">

                                <a class="btn btn-primary" href="{% url 'project_actions' %}">Back</a>

                                <span>
                                    <button class="btn btn-success" >Save</a>
                                </span>

                                <span>
                                    <button class="btn btn-primary" type="reset" style="margin-left:0.5%">Reset</button>
                                </span>
                                <!-- <button type="submit" class="btn btn-primary">Sign in</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <input style="visibility:hidden;" type="text" name="project_id" value="{{project_id}}" style="visibility: hidden;display: none">
    </form>
</body>
</html>
{% endblock %}