{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load filters %}
{% load i18n widget_tweaks %}
{% static "" as baseUrl %}

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/breadcrumbs_new.css' %}">
	<title>Collaborative Labeler</title>
</head>
<body>
	<div>
		<div class="row">
			<div class="container" style="text-align: center">
				<div class="row">
					<strong class="btn btn-lg btn-block text-center" style="background-color: lightgrey; margin-top: 1%"><b>HIT
					completed successfully!</b></strong>

					<div class="col-md-12">
						<div class="row" style="margin-top: 10px;">
							<a href="{% url 'workers_hits' %}" class="btn btn-success" style="margin-right: 10px;">Proceed with next
							HIT</a>
							<a href="{% url 'index' %}" class="btn btn-success">Go to home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}